/* generelt stylering */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    min-height: 120vh;
}

::-webkit-scrollbar {
    direction: rtl;
    left: 0;
    background-color: #fff;
    margin-top: 10vw;
}

::-webkit-scrollbar-thumb {
    direction:rtl; 
    left: 0;
    position: absolute;
    left: 0;
    background: #02683D;
}

.scrollable-div::-webkit-scrollbar {
    position: absolute;
    left: 0;
 }

a {
    text-decoration: none;
}


/* header og meny */
.logo {
    position: fixed;
    width: 10vw;
    height: 10vw;
    background-image: url(multimedia/mainLogo.png);
    background-size: cover;
    border-bottom: 5px solid #02683D;
    border-right: 5px solid #02683D;
}

.topBar {
    z-index: 2;
    position: fixed;
    left: 10vw;
    width: 90vw;
    height: 10vw;
    background-color: #fff;
    border-bottom: 5px solid #02683D;
}

.loggInBtn {
    position: absolute;
    z-index: 1;
    width: 10vw;
    height: 10vw;
    right: 0;
    border-bottom: 5px solid #02683D;
    border-left: 5px solid #02683D;
}

.loggInBtn p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #02683D;
    font-size: 2vh;
    line-height: 10vw;
    text-transform: uppercase;
}

/* sideboksen med alternativer */
.menuBox {
    position: fixed;
    top: 10vw;
    width: 10vw;
    height: 90vw;
    border-right: 5px solid #02683D;
}

.menuBox .adminOpt1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vw;
    background-color: #02683D;
    border-bottom: 5px solid #fff;
}

.menuBox .adminOpt1 a{
    width: 10vw;
    height: 5vw;
    text-align: center;
    line-height: 5vw;
    color: #fff;
}

#faqbtn{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-width: 5px 5px 0 0;
    border-style:  solid;
    border-color: #02683D;
}

#faqbtn a{
    color: #02683D;
}

.menuBox .active a{
    color: #02683D;
    background-color: #fff;
    border-right: 5px solid #02683D;
    border-bottom: 5px solid #fff;
}

.topbox{
    border-top: 2.5px solid #02683D ;
}

.contentBox {
    position: relative;
    top: 10vw;
    left: 10vw;
    width: 90vw;
    min-height: 90vw;
    border-bottom: 3vw;
}

.loggInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.loggInForm * {
    width: 50%;
    text-align: center;
    font-size: 2vw;
    color: #02683D;
}

.leggTilBoks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vw;
}

.mainContent{
    width: 100%;
    height: 30vw;
   background-image: url(multimedia/muffin-gf361af4f3_1280.jpg);
   background-size: cover;
   background-position: 0 50%;
   background-repeat: no-repeat;
}

.mainContent {
    width: 100%;
    height: 30vw;
    background-image: url(multimedia/header.png);
    background-size: cover;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

.row {
    min-width: 10vh     ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product {
    width: 25vw;
    height: 25vw;
    margin-top: 3vw;
    background-color: #ddd;
}

.productPicture {
    width: 100%;
    height: 75%;
    background-color: #555;
}

.productName {
    z-index: 1;
    width: 100%;
    height: 10%;
    margin: 1vw 1vw 0 1vw;
}

.productDescription {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25%;
    transition: 1s;
}

.productDescription p {
    margin: 1vw 1vw 0 1vw;
    font-size: 1.2vw;
}

.addCartBtnWrap {
    display: flex;
    align-items: flex-end;
}

.addToCartBtn {
    position: relative;
    min-width: 6vw;
    min-height: 2vw;
    margin: 0 1vw 1vw 0;
    border-radius: 3vw;
    bottom: 0;
    right: 0;
}

.aboutProduct {
    opacity: 0;
    position: relative;
    min-height: 25%;
    border: 1vw;
    background-color: #ddd;
}

.aboutProduct p {
    margin: 1vw 1vw 3vw 1vw;
}

td,
tr {
    text-align: center;
    padding-right: 2vw;
}

/* FAQ siden  */

summary{
    font-size: 2vh;
}

.faqbox{
    width: 25vw;
    min-height: 5vw;
    padding: 1vw;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    background-color: #ddd;
    border: 5px solid #02683D;
}